<div class="row">
  <div class="photo-item">
    <div class="photo">
      <img src="https://s.pstatic.net/imgnews/image/upload/item/2017/03/13/173227972_inputTemplate_49423575.jpg?type=f270_166">
    </div>
    <div class="photo-title">중국發 또다른 복병 '초미세먼지'</div>
  </div>
  <div class="photo-item">
    <div class="photo">
      <img src="https://s.pstatic.net/imgnews/image/upload/item/2017/03/13/154359444_inputTemplate_1182920.jpg?type=f270_166">
    </div>
    <div class="photo-title">
      너무 졸린 출퇴근길…버스·지하철이 당신을 재우는 이유
    </div>
  </div>
</div>
