<section style="display:block;">
  <div class="header-all">
    <h1 class="logo-header">
      <div class="naver-logo">
        <a href="#" class="naver-menu"> </a>
        <img src="https://s.pstatic.net/static/www/mobile/edit/2015/0318/mobile_110629401121.png" width="200" height="48" alt="네이버" class="naver-image">
        <a href="#" class="naver-link"></a>
      </div>
    </h1>

    <form action="" class="input-form">
      <span class="input">
        <span class="input-in">
          <input type="search" class="search-input" id="search-input" (keyup.enter)="doSearch($event)">
        </span>

      </span>
    </form>
  </div>

</section>